@page "/fichadas/extras/{LegajoId:int}"
@attribute [Authorize(Roles = "ADMINISTRADOR, Supervisor_Local")]
@inject RepositorioFichadas repositorio
@inject RepositorioLegajos repositorioLegajos
@inject IMostrarMensajes mostrarMensaje
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime



<div class="container-fluid">
    <div class="titulo">
        <div class="row">
            <div class="col-5">
                <h4 class="p-2 flex-grow-1">Reg.Hs.Extras: @legajo.Nombre (@legajo.LegajoId)</h4>
            </div>


            <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control" id="fechadesde" placeholder="Fecha Desde" @bind-value="fDesde">
                    <label for="fechadesde">Fecha Desde</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control" id="fechahasta" placeholder="Fecha Desde" @bind-value="fHasta">
                    <label for="fechahasta">Fecha Hasta</label>
                </div>
            </div>
            <div class="col">

                <BotonListadoConToolTip Color="yellow-green" IconoClase="bi bi-search" ToolTipText="Buscar" Accion="@Cargar" />
                <BotonListadoConToolTip Color="excel" IconoClase="bi bi-file-earmark-excel" ToolTipText="Pasar a Excel" Accion="@DownloadExcel" />
                <BotonListadoConToolTip Color="fichada" IconoClase="bi bi-building-add" ToolTipText="Crear Fichada" Accion="@CrearFichada" />
                <BotonListadoConToolTip Color="legajo" IconoClase="bi bi-person-lines-fill" ToolTipText="Volver a la Ficha" Accion="@Volver" />
            </div>
        </div>
    </div>
</div>
<div class="lineaDivisoriaTitulo"></div>

@if (Fichadas == null)
{
    <text>Cargando...</text>
}
else if (Fichadas.Count == 0)
{
    <text>No se encontraron Fichadas para este legajo</text>
}
else
{
    <table class="table table-hover">
        <thead class="cabeceraTabla">
            <tr>
                <th>Fecha</th>
                <th>Dia</th>
                <th>Hora</th>
                <th>EntraTemprano</th>
                <th>SaleTarde</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Fichadas)
            {
                <tr>
                    <td>@item.Registro.ToShortDateString()</td>
                    <td>@item.Registro.ToString("dddd", new CultureInfo("es-ES"))</td>
                    <td>@item.Registro.ToShortTimeString()</td>
                    <td>@item.MinEntTar</td>
                    <td>@item.MinSalTem</td>
                    <td>
                        <a href="fichadas/editar/@item.Id" class="btn btn-success btn-sm">Editar</a>
                        <button @onclick="@(() => BorrarFichada(item))" class="btn btn-danger btn-sm">Borrar</button>
                        <a href="fichadas/crear/@item.Id/@legajo.Id/1" class="btn btn-secondary btn-sm btnCrearFichada">Crear</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}



@code {
    [Parameter] public int LegajoId { get; set; }
    Legajo legajo = new Legajo();
    List<FichadaTardeDTO> Fichadas;

    private string EntraSaleOpuesto;

    private DateTime fDesde = DateTime.Now;
    private DateTime fHasta = DateTime.Now;

    //private DateTime fHasta = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1);

    protected override async Task OnInitializedAsync()
    {

        legajo = await repositorioLegajos.Get(LegajoId);

        int diasdescontar = (DateTime.Now.Day - 1);

        fDesde = DateTime.Now.AddDays(-diasdescontar); // esto deberia dar uno (no hago el new datetime porque no se ve la fecha en el control)
        fHasta = fDesde.AddMonths(1).AddDays(-1);
        await Cargar();
    }

    private async Task Cargar()
    {
        Fichadas = new List<FichadaTardeDTO>();
        Fichadas = await repositorio.GetTarde(LegajoId, fDesde, fHasta);

    }

    private async void BorrarFichada(FichadaTardeDTO fichada)
    {
        bool resultado = await mostrarMensaje.MostrarMensajeBorrar("Esta seguro que desea Borrar este registro");
        if (resultado)
        {
            repositorio.Delete(fichada.Id);
            mostrarMensaje.MostrarMensajeExitoso("Registro Eliminado");

            //no se porque mierda no refresca
            StateHasChanged();
            Cargar();
        }

        return;
    }

    private void DownloadExcel()
    {
        //////
        ///TODO: hay que adapatar este listado a llegadas tarde

        string archivo = DateTime.Now.ToString(@$"yyyy-MM-dd-HH-mm-ss");
        archivo = DateTime.Today.ToString("yyyy-MM-dd") + "-" + legajo.LegajoId.Trim() + "Fichadas.xlsx";

        using (var package = new ExcelPackage(archivo))
        {
            try
            {
                int regD = 3;
                int regH = regD;

                package.Workbook.Properties.Title = "Digital Plus - Kosiuko";
                package.Workbook.Properties.Author = "Digital One";
                package.Workbook.Properties.Subject = $"Fichadas Legajo {legajo.Nombre}";
                package.Workbook.Properties.Keywords = "Fichadas - Kosiuko";

                var worksheet = package.Workbook.Worksheets.Add("Fichada");

                worksheet.Cells["C1"].Value = DateTime.Today.ToString("dd-MMMM-yyyy hh:mm");

                worksheet.Cells[2, 1].Value = $"Fichada Historica - {legajo.Nombre} ";
                worksheet.Cells[2, 1, 2, 5].Merge = true;

                // Headers
                worksheet.Cells[regD, 1].Value = "Fecha";
                worksheet.Cells[regD, 2].Value = "Hora";
                worksheet.Cells[regD, 3].Value = "E/S";
                worksheet.Cells[regD, 4].Value = "Nombre";



                foreach (var item in Fichadas)
                {
                    regH++;
                    worksheet.Cells[regH, 1].Value = item.Registro.ToShortDateString();
                    worksheet.Cells[regH, 2].Value = item.Registro.ToShortTimeString();
                    worksheet.Cells[regH, 3].Value = item.EntraSale;
                    worksheet.Cells[regH, 4].Value = item.Nombre;
                }


                /// agrego una tabla
                var tbl = worksheet.Tables.Add(new ExcelAddressBase(fromRow: regD, fromCol: 1, toRow: regH, toColumn: 4), "Data");
                tbl.ShowHeader = true;
                tbl.TableStyle = OfficeOpenXml.Table.TableStyles.Light15;

                ////tbl.ShowTotal = true;
                ////tbl.Columns[5].DataCellStyleName = dataCellStyleName;
                ////tbl.Columns[5].TotalsRowFunction = OfficeOpenXml.Table.RowFunctions.Sum;
                ////worksheet.Cells[5, 4].Style.Numberformat.Format = numberFormat;

                ////autofit
                worksheet.Cells[regD, 1, regH, 4].AutoFitColumns();


                // Save to file
                //package.Save();

                JSRuntime.GuardarComo(archivo, package.GetAsByteArray());
                //mostrarMensaje.MostrarMensajeExitoso("Archivo Creado...");

            }
            catch (Exception ex)
            {

                mostrarMensaje.MostrarMensajeError(ex.Message);
            }

        }
    }
    private void CrearFichada()
    {
        navigationManager.NavigateTo($"fichadas/crear/0/{legajo.Id}");

    }
    private void Volver()
    {
        navigationManager.NavigateTo($"/legajos/editar/{legajo.Id}");

    }
}
