@page "/fichadas/tarde"
@attribute [Authorize(Roles = "ADMINISTRADOR, Supervisor_Local")]
@inject RepositorioFichadas repositorio
@inject IMostrarMensajes mostrarMensaje
@inject RepositorioSucursales repositorioSucursales
@inject RepositorioLegajos repositorioLegajos
@inject NavigationManager NavigationManager
@inject IJSRuntime JS;


<div class="d-flex titulo">
    <div class="col-3">
        <h3 class="p-2 flex-grow-1">Llegadas Tarde o Salidas Tempranas </h3>
    </div>
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="list-group list-group-item" style="width:100%;">
            <span>

                <label class="me-2">
                    Desde:
                    <input class="form-control-sm" type="date" @bind-value="fDesde" />
                </label>
                <label class="me-2">
                    Hasta:
                    <input class="form-control-sm" type="date" @bind-value="fHasta" />
                </label>

                <select class="me-2 form-select-sm" @bind="@SucursalElegida">
                    <option value="0">--Sucursal--</option>
                    @foreach (var item in Sucursales)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
                <select class="me-2 form-select-sm" @bind="@LegajoElegido">
                    <option value="0">--Legajo--</option>
                    @foreach (var item in Legajos)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>


                <BotonListadoConToolTip Color="yellow-green" IconoClase="bi bi-search" ToolTipText="Buscar" Accion="@Buscar"  />
                <BotonListadoConToolTip Color="excel" IconoClase="bi bi-file-earmark-excel" ToolTipText="Pasar a Excel" Accion="@DownloadExcel" />
                <BotonListadoConToolTip Color="legajo" IconoClase="bi bi-person-lines-fill" ToolTipText="Volver al menu" Accion="@Volver" />
            </span>
        </li>
    </ul>
</div>

<div class="lineaDivisoriaTitulo"></div>


@if (Fichadas == null && !click)
{
    <text>Cargando...</text>
}
else if (Fichadas.Count == 0 && !click)
{
    <text>No se encontraron Fichadas...</text>
}
else if (click && Fichadas.Count == 0)
{
    <text>Buscando...</text>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Minuto</th>
                <th>E/S</th>
                <th>Sucursal</th>
                <th>MinTarde</th>
                <th>MinAntes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Fichadas)
            {
                <tr>
                    <td><a href="/legajos/editar/@item.Legajoid">@item.NombreLegajo</a></td>
                    <td>@item.Registro.ToShortDateString()</td>
                    <td>@item.Registro.Hour.ToString()</td>
                    <td>@item.Registro.Minute.ToString()</td>
                    <td>@item.EntraSale</td>
                    <td>@item.NombreSucursal</td>
                    <td>@item.MinEntTar</td>
                    <td>@item.MinSaleTem</td>
                    <td>
                        <a href="fichadas/editar/@item.Id" class="btn btn-success btn-sm">Editar</a>
                        <button @onclick="@(() => BorrarFichada(item))" class="btn btn-danger btn-sm">Borrar</button>
                        <a href="fichadas/crear/@item.Id" class="btn btn-secondary btn-sm">Crear</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}



@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private AuthenticationState authenticationState;
    private string userId;


    // Sacar esto cuando hagas los reportes.
    private bool MostrarModal = true;

    //List<FichadasListadoDTO> Fichadas;
    List<FichadaListadoGeneralDTO> Fichadas;
    private DateTime fDesde = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Today.Day);
    private DateTime fHasta = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Today.Day).AddDays(1);

    //para el filtro
    List<Sucursal> Sucursales = new List<Sucursal>();
    private int SucursalElegida = 0;

    //para el filtro
    List<Legajo> Legajos = new List<Legajo>();
    private int LegajoElegido = 0;

    private bool click = false;



    protected override async Task OnInitializedAsync()
    {

        // 05/02/2023 - Obtengo el ID del usuario logueado
        if (AuthenticationStateTask is not null)
        {
            authenticationState = await AuthenticationStateTask;
            var claimsPrincipal = authenticationState.User;
            userId = claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier).Value;
            Sucursales = repositorioSucursales.GetUsuarioSucursalesSQL(userId);
            Legajos = await repositorioLegajos.GetLegajoSegunUsuario(userId, string.Empty);
        }
        else
        {
            Sucursales = await repositorioSucursales.Get(string.Empty);
            Legajos = await repositorioLegajos.Get(string.Empty);
        }

        await Cargar();
    }

    private async Task Buscar()
    {
        click = true;
        Cargar();
    }

    private async Task Cargar()
    {
        Fichadas = new List<FichadaListadoGeneralDTO>();
        if (AuthenticationStateTask is not null)
        {
            //Fichadas = await repositorio.GetFichadas(userId, fDesde, fHasta, SucursalElegida, LegajoElegido);
            Fichadas = await repositorio.GetFichadasTardeGeneral(fDesde, fHasta, SucursalElegida, LegajoElegido, userId);
            //no se porque mierda no refresca
            StateHasChanged();
            
        }
        else
        {
            NavigationManager.NavigateTo("fichadas/tarde");
        }
    }

    private void DownloadExcel()
    {
        //anda a buscarlo a IndiceFichardas.razor

        string archivo = DateTime.Now.ToString(@$"yyyy-MM-dd-HH-mm-ss");
        archivo = " Fichada - " + archivo + ".xlsx";

        ExcelPackage.LicenseContext = LicenseContext.NonCommercial;

        using (var package = new ExcelPackage(archivo))
        {
            try
            {
                int regD = 3;
                int regH = regD;

                package.Workbook.Properties.Title = "Digital Plus - Kosiuko";
                package.Workbook.Properties.Author = "Digital One";
                package.Workbook.Properties.Subject = $"Fichadas Legajo ";
                package.Workbook.Properties.Keywords = "Fichadas - Kosiuko";

                var worksheet = package.Workbook.Worksheets.Add("Fichada");

                worksheet.Cells["C1"].Value = DateTime.Today.ToString("dd-MMMM-yyyy hh:mm");

                worksheet.Cells[2, 1].Value = $"Fichada Historica ";
                worksheet.Cells[2, 1, 2, 6].Merge = true;

                // Headers
                worksheet.Cells[regD, 1].Value = "Fecha";
                worksheet.Cells[regD, 2].Value = "Nombre";
                worksheet.Cells[regD, 3].Value = "Hora";
                worksheet.Cells[regD, 4].Value = "E/S";
                worksheet.Cells[regD, 5].Value = "CodSuc";
                worksheet.Cells[regD, 6].Value = "Sucursal";



                foreach (var item in Fichadas)
                {
                    regH++;
                    worksheet.Cells[regH, 1].Value = item.Registro.ToShortDateString();
                    worksheet.Cells[regH, 2].Value = item.NombreLegajo;
                    worksheet.Cells[regH, 3].Value = item.Registro.ToShortTimeString();
                    worksheet.Cells[regH, 4].Value = item.EntraSale;
                    worksheet.Cells[regH, 5].Value = item.CodigoSucursal;
                    worksheet.Cells[regH, 6].Value = item.NombreSucursal;
                }


                /// agrego una tabla
                var tbl = worksheet.Tables.Add(new ExcelAddressBase(fromRow: regD, fromCol: 1, toRow: regH, toColumn: 6), "Data");
                tbl.ShowHeader = true;
                tbl.TableStyle = OfficeOpenXml.Table.TableStyles.Light15;

                ////tbl.ShowTotal = true;
                ////tbl.Columns[5].DataCellStyleName = dataCellStyleName;
                ////tbl.Columns[5].TotalsRowFunction = OfficeOpenXml.Table.RowFunctions.Sum;
                ////worksheet.Cells[5, 4].Style.Numberformat.Format = numberFormat;

                ////autofit
                worksheet.Cells[regD, 1, regH, 6].AutoFitColumns();

                JS.GuardarComo(archivo, package.GetAsByteArray());
                // Save to file
                //package.Save();
                mostrarMensaje.MostrarMensajeExitoso("Archivo Creado...");
            }
            catch (Exception ex)
            {

                mostrarMensaje.MostrarMensajeError(ex.Message);
            }

        }
    }

    private async void BorrarFichada(Fichada fichada)
    {
        bool resultado = await mostrarMensaje.MostrarMensajeBorrar("Esta seguro que desea Borrar este registro");
        if (resultado)
        {
            repositorio.Delete(fichada.Id);
            mostrarMensaje.MostrarMensajeExitoso("Registro Eliminado");

            //no se porque mierda no refresca
            StateHasChanged();
            Cargar();
        }

        return;
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("fichadas/menu");
    }
}
