@page "/legajos"
@using Microsoft.AspNetCore.Components.QuickGrid
@attribute [Authorize(Roles = "ADMINISTRADOR, Supervisor_Local")]
@inject RepositorioLegajos repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@inject ListadoVariablesGlobales VariablesGlobales

<div class="container">
    <div class="form-group">
        <LegajoSubMenu />
    </div>

    <QuickGrid Items="@ListadoEntidad" @ref="grid" Class="table table-striped">

        <PropertyColumn Property="@(p=> p.LegajoId)" Sortable="true" />
        <PropertyColumn Property="@(p=> p.Nombre.ToUpper())" Sortable="true" Title="Nombre">

            <ColumnOptions>
                
                    <input type="text" @bind-value="textobusqueda" @bind-value:event="oninput"
                           placeholder="texto a buscar"
                           @onkeypress="@((KeyboardEventArgs e) => NombreKeyPress(e))"/>
                
                
            </ColumnOptions>

        </PropertyColumn>

        <PropertyColumn Property="@(p=> p.Activo)" Sortable="true">
            <ColumnOptions>
                <label><input type="checkbox" @bind="soloActivos" @onclick="Filtrar" />Todos</label>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Property="@(p=> p.Sector.Nombre)" Sortable="true" Title="Sector">
            <ColumnOptions>

                <input type="text" @bind-value="textobusquedasector" @bind-value:event="oninput"
                       placeholder="texto a buscar"
                       @onkeypress="@((KeyboardEventArgs e) => SectorKeyPress(e))" />


            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Property="@(p=> p.Categoria.Nombre)" Sortable="true" Title="Categoria" />

        <TemplateColumn Title="Acciones">
            <a href="legajos/editar/@context.Id" class="btn btn-success btn-sm">Editar</a>
            <button @onclick="@(() => BorrarLegajo(context))" class="btn btn-danger btn-sm">Borrar</button>
        </TemplateColumn>

    </QuickGrid>

    <Paginator Value="@pagination" />
</div>



@code {
    // 05/02/2023 - Identity
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private AuthenticationState authenticationState;
    //------------------------------------------------------------------------

    public IQueryable<Legajo> MaestroEntidad { get; set; } = null!;
    public IQueryable<Legajo> ListadoEntidad { get; set; } = null!;
    QuickGrid<Legajo>? grid;
    bool soloActivos = true;
    int itemsperpage = 5;
    //PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    PaginationState pagination = new PaginationState();


    public List<Legajo> Legajos { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;
    string textobusqueda;
    string textobusquedasector;


    protected async override Task OnInitializedAsync()
    {
        

        //Cantidad de registros por paginas desde el Variables Globales
        var items = VariablesGlobales.Variables
                    .Where(s => s.sId == "GRD_REGISTROS_PAGINACION")
                    .Select(x => x.Valor).FirstOrDefault();

        int cantidad = int.Parse(items);
        if (cantidad > 0) pagination.ItemsPerPage = cantidad;
        else pagination.ItemsPerPage = 10;

        //////////////////////////////////////////////////////////////////
        await Cargar(string.Empty);

        MaestroEntidad = Legajos.AsQueryable();
        ListadoEntidad = MaestroEntidad;
    }

    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(string.Empty);
    }

    //private async Task Cargar(int pagina = 1)
    private async Task Cargar(string texto)
    {

        //5/2/2023
        if (AuthenticationStateTask is not null)
        {
            authenticationState = await AuthenticationStateTask;
            var claimsPrincipal = authenticationState.User;
            //Obtengo el ID del usuario
            string userId = claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier).Value;
            if (texto is null) texto = string.Empty;

            Legajos = await repositorio.GetLegajoSegunUsuario(userId, texto);

        }
        else
        {
            Legajos = await repositorio.Get(texto);
        }
    }
    public async Task Filtrar()
    {
        if (soloActivos)
        {
            ListadoEntidad = MaestroEntidad.Where(p => p.Activo);
        }
        else
        {
            ListadoEntidad = MaestroEntidad;
        }

        await grid!.RefreshDataAsync();
    }
    private async Task NombreKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (textobusqueda.Length > 0)
            {
                ListadoEntidad = MaestroEntidad.Where(p => p.Nombre.Contains(textobusqueda));
            }
            else
            {
                ListadoEntidad = MaestroEntidad;
            }

            await grid!.RefreshDataAsync();

        }
    }
    private async Task SectorKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (textobusquedasector.Length > 0)
            {
                ListadoEntidad = MaestroEntidad.Where(p => p.Sector.Nombre.Contains(textobusquedasector));
            }
            else
            {
                ListadoEntidad = MaestroEntidad;
            }

            await grid!.RefreshDataAsync();

        }
    }
 

    private async Task BorrarLegajo(Legajo objeto)
    {
        var condicion = await mostrarMensajes.MostrarMensajeBorrar(objeto.Nombre);

        if (condicion)
            await repositorio.Delete(objeto.Id);

        await Cargar(string.Empty);
    }
    private void Crear()
    {
        //mostrarMensajes.MostrarMensajeAlerta("Un cliente se debe crear desde la App de escritorio");
        navigationManager.NavigateTo("legajos/crear");
    }

}